// @generated
{{- $Name := .Module.Name }}
{{- $fields := .Module.Fields  }}
package models

// {{ $Name }} ...
type {{ $Name }} struct {
	{{- range $field := $fields }}
		{{ $field.Name }} {{ $field.GoType }} `{{ $field.FakerTag }}`
	{{- end }}
}
