// @generated
{{- $Name := .Module.Name }}
{{- $name := .Module.Name | ToLowerCase }}
{{- $fields := .Module.Fields  }}
{{- $names := $name | ToPlural }}
package {{ $name }}

import (
	"context"

	"github.com/tanphamhaiduong/go/common/logger"
	"github.com/tanphamhaiduong/go/delta/internal/arguments"
	"github.com/tanphamhaiduong/go/delta/internal/models"
)

// ICoreRepository ...
type ICoreRepository interface {
	GetByID(ctx context.Context, param arguments.{{ $Name }}GetByID) (models.{{ $Name }}, error)
	GetByIDs(ctx context.Context, param arguments.{{ $Name }}GetByIDs) ([]models.{{ $Name }}, error)
	List(ctx context.Context, params arguments.{{ $Name }}List) ([]models.{{ $Name }}, error)
	Count(ctx context.Context, params arguments.{{ $Name }}Count) (int64, error)
	Insert(ctx context.Context, params arguments.{{ $Name }}Insert) (models.{{ $Name }}, error)
	Update(ctx context.Context, params arguments.{{ $Name }}Update) (models.{{ $Name }}, error)
	Delete(ctx context.Context, param arguments.{{ $Name }}Delete) (int64, error)
}

// GetByID ...
func (h *HandlerImpl) GetByID(ctx context.Context, params arguments.{{ $Name }}GetByID) (models.{{ $Name }}, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler GetByID of {{ $name }}")
	var (
		{{ $name }} models.{{ $Name }}
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler GetByID validator.Struct error of {{ $name }}")
    return {{ $name }}, err
  }
	{{ $name }}, err := h.{{ $name }}.GetByID(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler GetByID h.{{ $name }}.GetByID error of {{ $name }}")
		return {{ $name }}, err
	}
	return {{ $name }}, nil
}

// GetByIDs ...
func (h *HandlerImpl) GetByIDs(ctx context.Context, params arguments.{{ $Name }}GetByIDs) ([]models.{{ $Name }}, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler GetByIDs of {{ $name }}")
	var (
		{{ $names }} []models.{{ $Name }}
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler GetByIDs validator.Struct error of {{ $name }}")
  	return {{ $names }}, err
  }
	{{ $names }}, err := h.{{ $name }}.GetByIDs(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler GetByIDs h.{{ $name }}.GetByIDs error of {{ $name }}")
		return {{ $names }}, err
	}
	return {{ $names }}, nil
}

// Count ...
func (h *HandlerImpl) Count(ctx context.Context, params arguments.{{ $Name }}Count) (int64, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler Count of {{ $name }}")
	var (
		count int64
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Count validator.Struct error of {{ $name }}")
		return count, err
	}
	count, err := h.{{ $name }}.Count(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Count h.{{ $name }}.Count error of {{ $name }}")
		return count, err
	}
	return count, nil
}

// List ...
func (h *HandlerImpl) List(ctx context.Context, params arguments.{{ $Name }}List) ([]models.{{ $Name }}, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler List of {{ $name }}")
	var (
		{{ $names }} []models.{{ $Name }}
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler List validator.Struct error of {{ $name }}")
		return {{ $names }}, err
	}
	{{ $names }}, err := h.{{ $name }}.List(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler List h.{{ $name }}.List error of {{ $name }}")
		return {{ $names }}, err
	}
	return {{ $names }}, nil
}

// Insert ...
func (h *HandlerImpl) Insert(ctx context.Context, params arguments.{{ $Name }}Insert) (models.{{ $Name }}, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler Insert of {{ $name }}")
	var (
		{{ $name }} models.{{ $Name }}
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Insert validator.Struct error of {{ $name }}")
		return {{ $name }}, err
	}
	{{ $name }}, err := h.{{ $name }}.Insert(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Insert h.{{ $name }}.Insert error of {{ $name }}")
		return {{ $name }}, err
	}
	return {{ $name }}, nil
}

// Update ...
func (h *HandlerImpl) Update(ctx context.Context, params arguments.{{ $Name }}Update) (models.{{ $Name }}, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"params": params,
	}).Infof("Handler Update of {{ $name }}")
	var (
		{{ $name }} models.{{ $Name }}
	)
	if err := validator.Struct(params); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Update validator.Struct error of {{ $name }}")
		return {{ $name }}, err
	}
	{{ $name }}, err := h.{{ $name }}.Update(ctx, params)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Update h.{{ $name }}.Update error of {{ $name }}")
		return {{ $name }}, err
	}
	return {{ $name }}, nil
}

// Delete ...
func (h *HandlerImpl) Delete(ctx context.Context, param arguments.{{ $Name }}Delete) (int64, error) {
  logger.WithFields(logger.Fields{
		"traceId":ctx.Value(utils.TraceIDKey),
		"param": param,
	}).Infof("Handler Delete of {{ $name }}")
	var (
		id int64
	)
	if err := validator.Struct(param); err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Delete validator.Struct error of {{ $name }}")
		return id, err
	}
	id, err := h.{{ $name }}.Delete(ctx, param)
	if err != nil {
		logger.WithFields(logger.Fields{
			"traceId": ctx.Value(utils.TraceIDKey),
			"Error": err,
		}).Errorf("Handler Delete h.{{ $name }}.Delete error of {{ $name }}")
		return id, err
	}
	return id, nil
}

//go:generate mockery -name=IRepository -output=mocks -case=underscore
