{{- $Name := .Module.Name }}
{{- $fields := .Module.Fields  }}
// @generated

package models

// {{ $Name }} ...
type {{ $Name }} struct {
	{{- range $field := $fields }}
		{{ $field.Name }} {{ $field.GoType }}
	{{- end }}
}
