{{- $Name := .Module.Name }}
{{- $name := .Module.Name | ToLowerCase }}
package {{ $name }}

import (
	"github.com/tanphamhaiduong/go/delta/server/modules"
	"github.com/tanphamhaiduong/go/delta/server/database"
)

// IHandler ...
type IHandler interface {
	ICoreHandler
}

// ResolverImpl ...
type ResolverImpl struct {
	{{ $name }} IHandler
}

// NewResolver ...
func NewResolver(db database.IDB) ResolverImpl {
	{{ $name }} := NewHandler(db)
	return ResolverImpl{
		{{ $name }}: {{ $name }},
	}
}