{{- $name := .Module.Name | ToLowerCase }}
package {{ $name }}

// iRepository ...
type iRepository interface {
	iCoreRepository
}

// HandlerImpl ...
type HandlerImpl struct {
	{{ $name }} iRepository
}

// NewHandler ...
func NewHandler(db *sql.DB) HandlerImpl {
	{{ $name }} := newRepository(db)
	return HandlerImpl{
		{{ $name }}: {{ $name }},
	}
}
