{{- $name := .Module.Name | ToLowerCase }}
package {{ $name }}

import (
	"github.com/tanphamhaiduong/go/delta/server/database"
)

// IRepository ...
type IRepository interface {
	ICoreRepository
}

// HandlerImpl ...
type HandlerImpl struct {
	{{ $name }} IRepository
}

// NewHandler ...
func NewHandler(db database.IDB) HandlerImpl {
	{{ $name }} := newRepository(db)
	return HandlerImpl{
		{{ $name }}: {{ $name }},
	}
}
