// @generated
package modules
{{- $Name := .Module.Name }}

import (
	"context"

	"github.com/tanphamhaiduong/go/delta/server/arguments"
	"github.com/tanphamhaiduong/go/delta/server/models"
)

// ICore{{ $Name }}Handler ...
type ICore{{ $Name }}Handler interface {
  GetByID(ctx context.Context, params arguments.{{ $Name }}GetByIDArgs) (models.{{ $Name }}, error)
	Count(ctx context.Context, params arguments.{{ $Name }}CountArgs) (int64, error)
	List(ctx context.Context, params arguments.{{ $Name }}ListArgs) ([]models.{{ $Name }}, error)
	Insert(ctx context.Context, params arguments.{{ $Name }}InsertArgs) (models.{{ $Name }}, error)
	Update(ctx context.Context, params arguments.{{ $Name }}UpdateArgs) (models.{{ $Name }}, error)
	Delete(ctx context.Context, params arguments.{{ $Name }}DeleteArgs) (int64, error)
}

// ICore{{ $Name }}Resolver ...
type ICore{{ $Name }}Resolver interface {
  IResolver
}

//go:generate mockery -name=I{{ $Name }}Resolver -output=mocks -case=underscore
//go:generate mockery -name=I{{ $Name }}Handler -output=mocks -case=underscore
