// @generated
package modules
{{- $Name := .Module.Name }}

import (
	"context"

	"github.com/tanphamhaiduong/go/delta/internal/arguments"
	"github.com/tanphamhaiduong/go/delta/internal/models"
)

// ICore{{ $Name }}Handler ...
type ICore{{ $Name }}Handler interface {
  GetByID(ctx context.Context, params arguments.{{ $Name }}GetByID) (models.{{ $Name }}, error)
	Count(ctx context.Context, params arguments.{{ $Name }}Count) (int64, error)
	List(ctx context.Context, params arguments.{{ $Name }}List) ([]models.{{ $Name }}, error)
	Insert(ctx context.Context, params arguments.{{ $Name }}Insert) (models.{{ $Name }}, error)
	Update(ctx context.Context, params arguments.{{ $Name }}Update) (models.{{ $Name }}, error)
	Delete(ctx context.Context, params arguments.{{ $Name }}Delete) (int64, error)
}

// ICore{{ $Name }}Resolver ...
type ICore{{ $Name }}Resolver interface {
  IResolver
}

//go:generate mockery -name=I{{ $Name }}Resolver -output=mocks -case=underscore
//go:generate mockery -name=I{{ $Name }}Handler -output=mocks -case=underscore
